 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 910px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  min-height: 688px;
  grid-gap: 50px 50px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -38px 0 0 71px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 32px 0 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-5 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -38px 0 0 71px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: 32px 0 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-8 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: -38px 0 0 71px;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  margin: 32px 0 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-11 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: -38px 0 0 71px;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  margin: 32px 0 0;
}

.u-section-1 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-14 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: -38px 0 0 71px;
}

.u-section-1 .u-text-16 {
  font-size: 1.125rem;
  margin: 32px 0 0;
}

.u-section-1 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-17 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.8;
  margin: 0;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: -38px 0 0 71px;
}

.u-section-1 .u-text-19 {
  font-size: 1.125rem;
  margin: 32px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 25px));
    min-height: 580px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 25px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    margin-right: auto;
  }

  .u-section-1 .u-text-12 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-text-13 {
    margin-right: auto;
  }

  .u-section-1 .u-text-15 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-text-16 {
    margin-right: auto;
  }

  .u-section-1 .u-text-18 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-text-19 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -38px;
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 38px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -38px;
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 38px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -38px;
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 38px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: -38px;
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 38px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: -38px;
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 38px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: -38px;
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: 38px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-5 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-6 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-8 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-9 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-11 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-12 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-14 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-15 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-17 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-18 {
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-top: 30px;
  }
}